.videocard__container{
    width: 220px;
    margin-bottom: 20px;
    /* margin-right: 10px; */
    background-color: white;
    height: auto;
    /* padding-right: 5px ;
    padding-left: 5px ; */
}

.imgclass{
    width: 220px;
    height: 140px;
}
.video__info{
    display: flex;
    margin-top: 10px;
    /* align-items: center; */
     padding-right: 5px ;
    padding-left: 5px ;
}
.videoCard__avatar{
    height: 30px !important;
    width: 30px !important;
    /* display: flex; */
    /* align-items: center; */
    
}
.video__title{
    align-items: center;
    margin-left: 15px !important;
    margin-top: -20px;
}
.video__title > h4{
    font-size: 14px;
    margin-bottom: -10px;
}
.video__title > p{
    font-size: 10px;
    /* padding-bottom: -12px;    */
    color: gray;
}