.Recommendations{
    flex: 0.8;
    border: 1px solid black;
    padding: 10px 30px;
    background-color: #f9f9f9;
}
.recommended__vids{
    display: flex;
    gap: 30px   ;
    flex-wrap: wrap;
    
}